* {
	margin: 0;
	padding: 0;
}
body {
	background-color:	#d8f8e5;
}
header {
 width:100%;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #7ed7ac;
}
.content {
	
	width:90%;
	margin: 0 auto;
	padding-top:20px;
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.intro__image {
	height:50vh;
	width:auto;
	display: flex;
	margin-left:auto;
	margin-right: auto;
	margin-top:10px;
	padding-top: 10px;
}
.intro__description{
	padding-top: 30px;
}
.intro__button-cont {
	margin-top:5px;
	height:100px;
}
.intro__button {
	margin-top: 20px;
	color:black;
 width:200px;
}
.questions{
	position:relative;
	display:none;
}
.questions__timer {
	float:right;
}
.questions__actual-question {
	padding-top:40px;
}
.questions__answers {
	padding-top:40px;
}
.questions__radio-btn {
	padding-bottom:5px;
}
.questions__buttons {
	width:100%;
	padding-top:30px;
	padding-bottom:20px;
	display: flex;
	justify-content: center;
}
.buttons__logic {
	color:black;
	width:180px;
}
.scores {
	display:none;
	width:98%;
	height:89%;
	min-height: 300px;
	min-width:300px;
	margin-left:auto;
	margin-right:auto;
}
.scores__image-box {
	float:none;
	width:300px;
 height:260px;
	min-height:200px;
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
}
.scores__image {
 width:80%;
 height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.scores__user-info {
	float:none;
	font-size:18px;
	height:auto;
	min-height: 50%;
	display: flex;
	text-align: center;
	flex-direction: column;
	padding:15px;
}
.scores__congrats {
	font-size: 24px;
	padding-bottom:10px;
}
.scores__last-btn {
	padding-top:30px;
	width:180px;
	margin-left:auto;
	margin-right:auto;
	color:black;
}
.scores__last-btn-look {
	color:black;
}
@media screen and (min-device-height:768px){
	.introduction__invitation{
	padding-top:70px;
	}  
}
@media screen and (min-width:1000px) {	
	.scores__image-box {
		height:100%;
		width:50%;
		float:left;
	}
	.scores__image {
			padding-top:50px;
	}
	.scores__user-info {
		float:left;
		width:50%;
		height:100%;
			justify-content:center;
	}
	.scores_last-btn {
			padding-top:20px;
	}
@media screen and (min-width:1300px) {
		.intro {
			margin-top:20px;
		}
		.intro__button {
			width:30vw;
	}
		.intro__button-cont{
	padding-top:20px;
	}.intro__image {
			height:62vh;
		}
		.scores__image {
			padding-top:50px;
		}
		.scores__image-box {
			height:100%;
			width:50%;
			float:left;
		}
		.scores__user-info {
			float:left;
			width:50%;
			height:100%;
			justify-content:center;
		}
		.scores_last-btn {
				padding-top:20px;
		}
	}